  body {
    background-color:#404625;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: 'raleway', sans-serif;
    font-size: 1em;
  }
  
  header {
    display: flex;
    justify-content:space-between;
    padding:1em;
  }

  nav {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 1em;
    }

  a {
    color:antiquewhite;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.3em;
  }
  
  header h1 {
    font-family: 'Lobster';
    font-size: 4em;
    text-shadow: 1px 5px #141d10;
    font-size: 3em;
  }
  
  .main {
    background-color:#7a722a;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    font-size: 3em;
    gap:.5em;
    padding:1em;
    text-align: center;
    margin:0 -.1em;
  }
  
  .main h2 {
    color:#7a722a;
    text-shadow:3px 3px #141d10;
    font-size: 1em;
    padding: 0 1em;
  }

  .six, .five, .four {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    height:400px;
    justify-items: center;
    font-size: .7em;
    color:#29260e;
  }
  
  .six {
    background-image: url("../public/6-pax-out.jpg");
  }
  
  .five {
    background-image: url("../public/5-pax-out.jpg");
  }
  
  .four {
    background-image: url("../public/4-pax-bed.jpg");
  }
   
  .map-container {
    background-color: #141d10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em 2em;
    margin:0 -.3em;
  }
  
  .map h2 {
    font-size: 2em;;
  }
  
  .map-embeded {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;  
    position: relative;
  }
  
  .map-embeded iframe {
    height: 100%;
    left: 0;
    position:absolute;
    top: 0;
    width: 100%;
  }
    
  footer {
    align-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:1.5em;
    text-align: center;
  }
  
  footer h2 {
    font-family: 'Lobster';
    font-size: 4em;
    margin:.5em 0;
    text-shadow: 1px 5px #141d10;
    width:100%;
  }
  
  address a {
    font-variant: normal;
    font-size: 1em;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  i {
    align-self: center;
    padding:.4em;
    margin:.2em;
  }
  
  @media only screen and (min-width: 768px) {
    
  header {
    flex-direction: column;
    justify-content: space-around;
  }
  
  header h1 {
    text-align: center;
    font-size: 4em;
  }

  nav  {
    text-align: center;
    display: inline;
  }

  nav a {
    padding:1em;
    font-size: 2em;
  }
  
  .main {
    align-items: center;
    justify-content: center;
  }
  
  .main h2 {
    font-size: 2em;
  }
 }